body {
    font-family: 'Roboto', sans-serif;
}

tr.row1 {
    background-color: #ffffff;
}

tr.row2 {
    background-color: #eeeeee;
}

table, th, td {
  border: 0;
}

table {
  border-collapse:collapse;
}

th.header {
    font-style: bold;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
}

body {
    background-color: darkgrey;
}

.table-container {
    overflow-y: scroll;
    max-height: 300px;
    background: white;
    display: inline-block;
}

/* Scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
